body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_box {
    background-color: #d86b91;
    padding: 20px 30px;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px; /* Space between buttons */
    margin-top: 30px;
}

.btn {
    background-color: #d86b91;
    color: white;
    padding: 25px 60px; /* Bigger button size */
    font-size: 24px;    /* Bigger text */
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c0567f;
}
