body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8c8dc;
  }
  
  .header_text {
    font-family: "Nunito";
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px Black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .text {
    font-family: "Nunito";
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px Black;
    line-height: 0.3;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .btn {
    background-color: #ffb6c1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #faf9f6;
  }
  
  /* Use this for the video container */
  .video_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Target the video inside .video_container */
  .video_container video {
    width: 700px; /* Adjust this width to make the video smaller */
    height: auto; /* Keeps the aspect ratio */
  }
  
  /* Common styles for corner images */
  .corner-image {
    position: fixed;
    width: 175px; /* Adjust size as needed */
    height: auto;
    z-index: 1;
  }
  
  /* Position for the bottom-left corner */
  .bottom-left {
    bottom: 10px;
    left: 10px;
  }
  
  /* Position for the bottom-right corner */
  .bottom-right {
    bottom: 10px;
    right: 10px;
  }
  